<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Key</title>
</head>
<body>
    <h3>Create New Key</h3>
    <form action="#" method="post">
        <div class="input-field">
            <input type="text" name="access-key" placeholder="Enter the key string" required>
            <!-- <label>Enter your new password</label> -->
        </div>
        <br>
       <div class="input-field">
            <input type="datetime-local" name="created-at" placeholder="Re-enter password" required>
       </div>
       <br>
       <div class="input-field">
        <input type="datetime-local" name="expiry-date" placeholder="Re-enter password" required>
       </div>
       <br>
       <div class="input-field">
        <input type="" name="expiry-date" placeholder="Re-enter password" required>
       </div>

        <button type="submit">Create Key</button>
    </form>
</body>
</html>