<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/reset_password.css">
    <title>Create new password</title>
</head>
<body>
    <h3>Create new password</h3>
    <form action="#" method="post">
        <div class="input-field">
            <input type="password" name="password" placeholder="Enter your new password" required>
            <!-- <label>Enter your new password</label> -->
        </div>
        <br>
        <div class="password error"></div>
       <div class="input-field">
            <input type="password" name="password" placeholder="Re-enter password" required>
            <!-- <label>Re-enter password</label> -->
        </div>
        <div class="password error"></div>
        <button type="submit">Done</button>
    </form>
</body>
</html>