<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/reset_password.css">
    <title>Create new password</title>
</head>
<body>
    <div class="signupSection">
        <div class="info">
            <h2>Create new password</h2>
            </div>
    <form action="#" method="post" class="Form">
        <ul class="noBullet">
            <li>
        <div class="input-field">
            <input type="password" name="password" placeholder="Enter your new password" required>
            <!-- <label>Enter your new password</label> -->
        </div>
        <div class="password error"></div>
        </li>
        <li>
       <div class="input-field">
            <input type="password" name="password" placeholder="Re-enter password" required>
            <!-- <label>Re-enter password</label> -->
        </div>
        <div class="password error"></div>
        </li>
        <li>
        <button type="submit">Done</button>
        </li>
    </ul>
    </form>
</div>
</body>
</html>