<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/reset_password.css">
    <title>Create new password</title>

    <style>
        .hidden {
          display: none;
        }
        .error {
          color: red;
        }
      </style>
</head>
<body>

    <form action="/new-password" method="post" id="reset-password-form">
        <h2>Create new password</h2>
        <div class="input-container">
          <input type="password" name="password" id="password" placeholder="Enter your new password" required>
        </div>

        <input type="hidden" name="token" value="<%- token%>">
        <br>
        <div class="password error" id="password-error"></div>
        <div class="input-container">
          <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Re-enter password" required>
        </div>
        <br>
        <div class="password error" id="confirm-password-error"></div>
        <button type="submit" id="submit-button" class="hidden">Done</button>
      </form>

      
      <script>
        const password = document.getElementById('password');
        const confirmPassword = document.getElementById('confirmPassword');
        const submitButton = document.getElementById('submit-button');
        const passwordError = document.getElementById('password-error');
        const confirmPasswordError = document.getElementById('confirm-password-error');
    
        function checkPasswords() {
          if (password.value === confirmPassword.value && password.value !== "") {
            submitButton.classList.remove('hidden');
            passwordError.textContent = '';
            confirmPasswordError.textContent = '';
          } else {
            submitButton.classList.add('hidden');
            if (password.value !== confirmPassword.value) {
              confirmPasswordError.textContent = 'Passwords do not match';
            } else {
              confirmPasswordError.textContent = '';
            }
            if (password.value === "" || confirmPassword.value === "") {
              passwordError.textContent = '';
              confirmPasswordError.textContent = '';
            }
          }
        }
    
        password.addEventListener('input', checkPasswords);
        confirmPassword.addEventListener('input', checkPasswords);
      </script>


</body>
</html>