<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/reset_password.css">
    <title>Forgotten password</title>
</head>
<body>
 
    <form action="reset" method="post" id="reset-password-form">
        <h2>Reset Password</h2>
        <div class="input-container">
            <label for="email">Email</label>
            <input type="text" name="email" placeholder="Enter your email" required>
</div>
<br>
            <button type="submit">Send</button>
        </form>
</body>
</html>