<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/reset_password.css">
    <title>Forgotten password</title>
</head>
<body>
    <div class="signupSection">
        <div class="info">
    <h2>Please enter your email to recieve the reset password link</h2>
</div>
    <form action="#" method="post" class="Form">
        <ul class="noBullet">
            <li>
        <div class="input-field">
            <input type="text" name="email" placeholder="Enter your email" required>
        </div>
        </li>
        <li>
            <button>Send</button>
        </li>
        </ul>
        </form>
        </div>
</body>
</html>