<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/reset_password.css">
    <title>Forgotten password</title>
</head>
<body>
    <h3>Please enter your email to recieve the reset password link</h3>
    <br>
    <form action="#" method="post">
        <div class="input-field">
            <input type="text" name="email" placeholder="Enter your email" required>
        </div>
        <div class="btn">
            <button>Send</button>
        </div>
</body>
</html>